h1{
    color: rgb(104, 104, 141);
}
h2{
    color: rgb(104, 104, 141); 
}
P{
    font-family: 'Times New Roman', Times, serif;
    font-size: medium ;
    font-style: normal;

}
ul{
    background-color: darkseagreen;
    text-align: left;
}
a{
    text-decoration: none ;

}
p::first-letter{
    font-size: 1.5em;
}

a:hover
{
    text-decoration: underline;
}

dl{
    display: flex;
}
ol { 
    display: flex;
    flex-direction: column-reverse;
}

