h1{
    color: rgb(104, 104, 141);
}
h2{
    color: rgb(104, 104, 141); 
}
P{
    font-family: 'Times New Roman', Times, serif;
    font-size: medium ;
    font-style: normal;

}
ul{
    background-color: darkseagreen;
    text-align: left;
}
ol:hover{
    text-decoration: underline;

}
p::first-letter{
    font-size: 1.5em;
    
   
}