

body {
    margin: 0;
    /* font-size: 8pt; */
    font-family: Verdana, Tahoma, sans-serif;
    background-image: url(./image/background.png);
}
.container {
    max-width: 800px;
    margin: auto;
    border: 4px solid gray;
    border-radius: 20px;
    overflow: hidden;
    display: grid;
    grid-template-columns: 550px auto;
}
#general {
    background-color: #A2B964;
     float: right; 
    width: 250px;
    
}
#overall{
    max-width: 550px;
    float: left; 
}

#footer {
    position: fixed;
    opacity: 0.5;
    bottom: 0;
    padding: 0;
    right: 0;
}
#header{
    text-align: center;
    background-image: url(./image/bannerbg.png);
    background-repeat: repeat-x;
    background-size: 50px;
}
h1
{
    text-align: center;
    font-weight: bold;
    font-size: 24pt;
    font-family: Tahoma,Verdana,sans-serif;
   text-shadow: 3px 3px #999999;
}
.general{
    background-color: #A2B964;
    font-size: 8pt;
    font-family: Arial,sans-serif;
}
dl{
    font-weight: bolder;
    line-height: 10pt;
}

#overall .overall {
    background-image: url(./image/rbg.png);
    background-repeat: repeat-x;
    width: 100%;
}
.overall span {
    display: inline-block;
    font-size: 48pt;
    color: red;
    font-weight: bold;
    vertical-align: top;
}
.review .comment {
    background-color: #E8DC9B;
    border: 2px solid gray;
    border-radius: 10px;
    font-size: 8pt;
    padding: 8px;
    font-weight: bold;
}
p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
.review {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: auto auto;
    padding-left: 10px;
    padding-right: 10px;
}



dl{
    font-size: 8pt;
    font-family: Arial,sans-serif;
    font-weight: bold;
    margin-left: 10px;
    margin-right: 10px;

}


